*.exe
*.o
/.idea/shelf/aggiunti_alcuni_commenti_a_asm.xml
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/gmon.out
/.idea/shelf/Uncommitted_changes_before_Update_at_01_07_24_16_33_[Changes]/gmon.out
/.idea/shelf/Uncommitted_changes_before_Update_at_02_07_24_14_27_[Changes]/gmon.out
/SUPERCOP_AVX2/gmon.out
/.idea/shelf/aggiunti_alcuni_commenti_a_asm/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_01_07_24_16_33_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_02_07_24_14_27_[Changes]/shelved.patch
/ARM_IMPL/test
/SUPERCOP_AVX2/test
/.idea/shelf/Uncommitted_changes_before_rebase__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_01_07_24_16_33__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_02_07_24_14_27__Changes_.xml
/.idea/vcs.xml
/.idea/workspace.xml
